div {
    min-height: 100px;
    margin-bottom: 50px;
}
body {
    background-color: rgb(61, 61, 61);
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.kopfzeile{
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: rgba(255,255,255,0.1);
}

.flag{
    width:60px;
    left:50px;
    padding: 16px;
    position: absolute;
}

.pfeile{
    width: 75px;
    padding: 30px;
}

input{
    height: 60px;
    background-color: transparent;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 12px;
    flex: 1;
    padding-left: 100px;
    color: white;
    font-size: 24px;
    text-align: center;
}

.input-container{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-left: 32px;
   padding-right: 32px;
   position: relative;
}

.currency{
   position: absolute;
   right: 42px;
   font-size: 14px;
   color: rgb(38, 38, 156);
   font-weight: 700;
   bottom: 24px;
}

.container-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
   background-color: yellow;
   padding: 0 32px;
   height: 50px;
   border: unset;
   font-size: 24px;
   border-radius: 12px;
   cursor: pointer;
}

